html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.window-content {
    flex-wrap: wrap;

    .gauge-container {
        width: 200px;

        p {
            width: 200px;
            text-align: center;
        }
    }
}
